Options -Multiviews
RewriteEngine on

RewriteRule ^account/login$ internal/account/login.php [QSA]
RewriteRule ^account/register$ internal/account/register.php [QSA]
RewriteRule ^account/logout$ internal/account/logout.php [QSA]

RewriteRule ^chat$ internal/information/chat.php [QSA]
RewriteRule ^chat/$ internal/information/chat.php [QSA]
RewriteRule ^chat/([0-9]+)$ internal/information/chat.php?chat=$1 [QSA]
RewriteRule ^chat/list$ internal/information/chat.php?list=true [QSA]
RewriteRule ^schueler/$ internal/information/schueler_liste.php [QSA]
RewriteRule ^schueler$ internal/information/schueler_liste.php [QSA]
RewriteRule ^schueler/([0-9]+)$ internal/information/schueler.php?schueler=$1 [QSA]
RewriteRule ^blog/([0-9]+)$ internal/information/blog.php?blog=$1 [QSA]
RewriteRule ^zeitung/$ internal/information/zeitung.php [QSA]
RewriteRule ^zeitung$ internal/information/zeitung.php [QSA]
RewriteRule ^zeitung/([0-9]+)$ internal/information/zeitung.php?zeitung=$1 [QSA]
RewriteRule ^impressum$ internal/information/impressum.php [QSA]

RewriteRule ^gallerie$ internal/information/gallery.php [QSA]
RewriteRule ^gallerie/$ internal/information/gallery.php [QSA]
RewriteRule ^gallerie/([0-9]+)$ internal/information/gallery.php?picture=$1 [QSA]

ErrorDocument 404 /error/404.html
