html, body {
	background-color: #303030;
	color: #e0e0e0;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}
h1, h2, p, a, .text {
	color: #e0e0e0;
}
.centriert {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.chatgruppe {
	max-width: calc( 100% - 40px );
	width: 500px;
	
	height: auto;
	margin-top: 10px;
	margin-left: 20px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	cursor: pointer;
	background-color: darkslategray;
	padding-left: 10px; 
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.schueler_container {
	margin: 20px;
	height: auto;
	width: 150px;
	max-width: calc( 100% - 40px );
	border: 1px solid black;
	border-radius: 20px;
	float: left;
}
.blog_entry {
	margin: 20px;
	min-height: 300px;
	height: auto;
	max-height: 800px;
	width: 500px;
	max-width: calc( 100% - 40px );
	border: 1px solid black;
	border-radius: 20px;
	float: left;
}
button {
    cursor: pointer;	
}
